@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #222;
  color: whitesmoke;
}

body form input {
  color: black;
}

body h4 {
  font-size: 2em;
  line-height: 1.75em;
}

.char-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.char-blocks .char-ballp {
  position: absolute;
}

.char-blocks .char-block {
  position: relative;
  max-width: 300px;
  margin-bottom: 20px;
  font-size: 10px;
  width: 33.334%;
  padding: 0 5px;
}

@media (max-width: 860px) {
  .char-blocks .char-block {
    max-width: 400px;
    font-size: 12px;
    width: 50%;
  }
}

@media (max-width: 700px) {
  .char-blocks .char-block {
    width: 100%;
    max-width: 100%;
    font-size: 13px;
  }
}

.char-blocks .char-block.white {
  color: white;
  text-shadow: 2px 2px 1px #323232;
}

.char-blocks .char-block.black {
  color: black;
  text-shadow: 2px 2px 1px #fafafa;
}

.char-blocks .char-block img {
  width: 100%;
}

.char-blocks .char-block .char-data {
  position: absolute;
  padding: 1em 2em 1em 6em;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  letter-spacing: .05em;
}

@media (max-width: 700px) {
  .char-blocks .char-block .char-data {
    padding: 6% 7% 6% 20%;
  }
}

@media (max-width: 500px) {
  .char-blocks .char-block .char-data {
    padding: 3% 7% 5% 20%;
  }
}

.char-blocks .char-block .char-data .char-titles .char-name {
  font-size: 2em;
  line-height: 1em;
  font-weight: 400;
}

.char-blocks .char-block .char-data .char-titles .char-race {
  padding-top: .5em;
  font-size: 1.2em;
  font-weight: 400;
}

.char-blocks .char-block .char-data .char-light-lvl .char-light {
  font-size: 2em;
  line-height: 1em;
  font-weight: 400;
}

.char-blocks .char-block .char-data .char-light-lvl .char-light:before {
  content: "\2726";
  font-family: Arial;
  font-size: 2rem;
  position: relative;
  top: -3px;
}

.char-blocks .char-block .char-data .char-light-lvl .char-lvl {
  padding-top: .3em;
  font-size: 1.2em;
  font-weight: 400;
}

.char-blocks .char-block .char-stats {
  text-shadow: none;
  font-weight: 600;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

@media (max-width: 700px) {
  .char-blocks .char-block .char-stats {
    display: block;
    padding: 0px 16px;
  }
}

.grid {
  border-style: None;
}

.grid tbody .GridHeader {
  background-color: cadetblue;
}

.grid tbody .GridHeader th {
  border-style: None;
}

.grid tbody .GridRow {
  background-color: #333;
}

.grid tbody .GridRow:hover {
  color: whitesmoke;
  background-color: #070dc2;
}

.grid tbody .GridRow td {
  border-style: None;
}

.grid tbody .GridRow td a:link {
  color: #00c4ff;
}

.grid tbody .GridRow td a:visited {
  color: #bc6cfc;
}

.grid tbody .AltRowCSS {
  background-color: #444;
}

.grid tbody .AltRowCSS td {
  border-style: None;
}

.grid tbody .AltRowCSS td a:link {
  color: #00c4ff;
}

.grid tbody .AltRowCSS td a:visited {
  color: #bc6cfc;
}

.grid tbody .AltRowCSS:hover {
  color: whitesmoke;
  background-color: #070dc2;
}

.grid tbody .GridPageRow {
  font-size: 1.5em;
  border-style: None;
}

.grid tbody .GridPageRow td {
  border-style: None;
}

.GreyBackground {
  background-color: #808080;
}

.ProgressOuter {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: black;
  filter: alpha(opacity=60);
  opacity: 0.6;
  -moz-opacity: 0.8;
}

.ProgressInner_TopMargin {
  z-index: 1000;
  margin-top: 200px;
  /*margin: 300px auto;*/
  padding: 10px;
  width: 500px;
  background-color: black;
  border-radius: 10px;
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-opacity: 1;
}

.ProgressInner {
  z-index: 1000;
  /*margin-top: 200px;*/
  /*margin: 300px auto;*/
  padding: 10px;
  width: 500px;
  background-color: black;
  border-radius: 10px;
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-opacity: 1;
}

/*.ProgressInner img {
    height: 128px;
    width: 128px;
}*/
/*@import 'NewSiteMain';
@import 'style';
@import 'normalize';*/
/*# sourceMappingURL=main.css.map */