$text-color: whitesmoke;
$bg-color:#222;
$bg-color-grids1: #333;
$bg-color-grids2: #444;
$bg-color-gridHover: #070dc2;
$text-color-grid-hover: whitesmoke;
$mobile: 700px;
$dropdownBackColor: #808080;
$gridViewLinkColor: #00c4ff;
$gridViewLinkClickedColor: #bc6cfc;