.hidden {
  display: none;
}

*, ** {
  margin: 0 !important;
  padding: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.grid {
  margin: 0;
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (4)[auto];
      grid-template-rows: repeat(auto, 4);
      grid-template-areas: "header"  "main" "sidebar2" "sidebar";
}

@media only screen and (max-width: 863px) {
  section {
    display: none;
    orientation: portrait;
  }
}

@media screen and (min-width: 864px) {
  .grid {
    -ms-grid-columns: 20em auto;
        grid-template-columns: 20em auto;
    -ms-grid-rows: 52px auto;
        grid-template-rows: 52px auto;
        grid-template-areas: "header header" "sidebar main" "sidebar2 main";
  }
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  height: 52px;
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(110deg, #5b00e4 0%, #ab79fa 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1D1516', endColorstr='#6803FF',GradientType=1 );
  /*ie6-9*/
}

nav {
  float: left;
  width: 100%;
}

.logo {
  float: left;
  margin-top: 13.6px;
  margin-left: 20px;
}

.logo a {
  font-size: 20px;
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.5px;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:first-child) {
  margin-left: 46px;
}

nav ul li:last-child {
  margin-right: 60px;
}

nav ul li a {
  font-family: "Microsoft JhengHei UI";
  color: #f7f7f7;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  outline: none;
  letter-spacing: 1.2px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  line-height: !important;
}

nav ul li a:hover {
  color: white;
  color: white;
  text-shadow: 0 0 5px white, 0 0 10px pink, 0 0 20px #0fff;
}

nav ul ul {
  position: absolute;
  text-align: left !important;
  float: left;
  min-width: 100px;
  margin-top: 15px;
  background: #f7f7f711;
}

nav ul ul li {
  display: block;
}

@media screen and (max-width: 864px) {
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #020024;
    background: -webkit-gradient(linear, left top, right top, color-stop(2%, rgba(2, 0, 36, 0)), color-stop(41%, rgba(82, 9, 121, 0.622269)), to(rgba(61, 6, 201, 0.741)));
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 2%, rgba(82, 9, 121, 0.622269) 41%, rgba(61, 6, 201, 0.741) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#4800ff",GradientType=1);
    opacity: 0;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    right: 20px;
  }
  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-wrapper ul li:nth-child(1) a {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .nav-wrapper ul li:nth-child(2) a {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .nav-wrapper ul li:nth-child(3) a {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .nav-wrapper ul li:nth-child(4) a {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .nav-wrapper ul li:nth-child(5) a {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #f7f7f7;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .nav-btn {
    position: fixed;
    right: 10px;
    top: 5px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

section {
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#7289da), color-stop(12%, #7289da), color-stop(25%, #7289da), color-stop(39%, #7289da), color-stop(51%, #7289da), color-stop(60%, #111111), color-stop(76%, #202225), color-stop(91%, #202225), to(#202225));
  background: linear-gradient(to bottom, #7289da 0%, #7289da 12%, #7289da 25%, #7289da 39%, #7289da 51%, #111111 60%, #202225 76%, #202225 91%, #202225 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7289da', endColorstr='#202225',GradientType=0 );
  /* IE6-9 */
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: sidebar;
  width: 100%;
}

iframe {
  height: calc(100vh - 54px) !important;
}

.help:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f6f6f6), to(#ffffff));
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
  background-color: #f6f6f6;
}

.help:active {
  top: 1px;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  min-height: calc(100vh - 52px);
  background: url(../images/destiny.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

main h1 {
  font-family: "Microsoft Tai Le";
  font-weight: bold;
  font-size: 3.9rem;
  text-align: center;
  color: #fff;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.16);
}

main h2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -20px;
  font-family: "Microsoft Tai Le";
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=main.css.map */